body {
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
}

span.gn {
    color: blue;
}

span.unkn {
    color : green;
}

span.ambg {
    color : red
}

 html, body, #map-canvas {
            height: 100%;
            margin: 40;
            padding: 0
        }