body {
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
}

span.gn {
    background: green;
}

span.unkn {
    background : lightgray;
}

span.ambg {
    background : red
}

 html, body, #map-canvas {
            height: 100%;
            margin: 40;
            padding: 0
        }