<!DOCTYPE html>
<html>
<head lang="de">
    <meta charset="UTF-8">
    <title>UZH - Institut f&uuml;r Computerlinguistik - Geokokos</title>
</head>
<body>
<h1>Geokokos, Institut f&uuml;r Computerlinguistik, Universit&auml;t Z&uuml;rich</h1>

<p>Es handelt sich hier um die Muttervorlage, die das Grundger&uuml;st des sp&auml;teren Layouts bereitstellt.</p>

<p>In dieser Vorlage werden Blocks zur Verf&uuml;gung gestellt, die Kinder-Vorlagen &uuml;berschreiben k&ouml;nnen. Kinder-Vorlagen m&uuml;ssen nur jene Elemente definieren, die sie von ihren Eltern unterscheiden.</p>
</body>
</html>